aplustools==1.4.8.4
beautifulsoup4==4.12.2
duckduckgo_search==3.9.6
Pillow==10.3.0
PySide6==6.7.0
Requests==2.31.0
urllib3==2.1.0
packaging==24.0
stdlib-list==0.10.0
aiohttp==3.9.5
aiofiles==23.2.1
auto-py-to-exe